{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

{% for card in cards %}
    <div class="card">
        {% if ("♦" in card.getCard()) or ("♥" in card.getCard()) %}
            <div class="cardred">
                {{ card.getCard() }}
            </div>
        {% else %}
            <div class="cardblack">
                {{ card.getCard() }}
            </div>
        {% endif %}
    </div>
{% endfor %}

<p>Antal kort kvar: {{ cardLeft }}</p>
<a href="{{ path("card-deck-shuffle") }}">Återställ kortleken</a>

{% endblock %}
